@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(9, 10, 19);
}

.swal-text-white {
  color: white !important;
}

/* .container {
  overflow-y: scroll;
  overflow: hidden;
} */

/* custom-scrollbar.css */

/* Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: #140854; /* Change this color to your desired thumb color */
  border-radius: 6px;
}

/* Firefox */
* {
  scrollbar-color: #0a052e #011347; /* Change these colors to your desired thumb and track colors */
  scrollbar-width: thin;
}
